@import 'config/color';
@import 'config/typography';
@import 'components/components';
@import 'layout/layout';
@import 'mobile/mobile';

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

* {
    font-family: 'Quicksand-Medium', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    border-radius: 7.2px;
    border: none;
    font-size: 32px;
}
