@import 'config/color';
@import 'config/typography';
@import 'components/components';
@import 'layout/layout';
@import 'mobile/mobile';

@font-face {
    font-family: 'Quicksand-Regular';
    src: url('../assets/fonts/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Quicksand-Medium';
    src: url('../assets/fonts/Quicksand-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand-Bold';
    src: url("../img/fonts/Quicksand-Bold.ttf") format("truetype");
}

.light-blue {
    color: #76AFF2;
}

.light-green {
    color: #A8D94E;
}

.body-text {
    font-family: "QuickSand-Medium";
    font-size: 29px;
    color: #979797;
}

.body-text-bold {
    font-family: "Quicksand-Bold";
}

.body-text-ligher {
    font-family: "Quicksand-Regular";
}

.body-text-32 {
    font-size: 32px;
}

.rounded-button-body-text {
    font-family: Quicksand-Bold;
    font-size: 38px;
    color: #ffffff;
    letter-spacing: 2.7px;
}

.body-text-large {
    font-weight: bold;
    font-size: 54px;
    color: #ffffff;
    line-height: 67px;
    text-align: center;
}

.hyperlink-regular {
    font-weight: bold;
    font-size: 29px;
    color: #979797;
    letter-spacing: 0;
}

.hyperlink-bold-small {
    font-family: "Quicksand-Bold";
    font-size: 24px;
    color: #979797;
}

.c-intro-panel {
    background: #A8D94E;
    padding-top: 100px;
}

.c-intro-panel header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    margin: 0 auto;
}

.c-intro-panel main {
    padding: 65px 0;
    color: #fff;
    width: 75%;
    margin: 0 auto;
}

.c-our-goal-panel {
    background-image: url("../assets/our-goal-bg.png");
    padding: 110px 0;
}

.c-partnership-panel {
    background: #F8E71C;
    padding: 80px 0;
}

.c-partnership-panel p {
    margin: 0;
    line-height: 48.6px;
    text-align: center;
    width: 75%;
}

.c-goal-panel {
    background: #fff;
}

.c-goal-panel p {
    margin: 0;
    padding: 80px 0;
    text-align: center;
    width: 78%;
    line-height: 48.6px;
}

.c-tools-panel {
    background: #76AFF2;
    padding-top: 120px;
}

.c-tools-panel h1 {
    margin: 0;
    text-align: center;
    width: 70%;
}

.c-tools-panel ul {
    padding: 60px 0;
    width: 75%;
    margin: 0 auto;
    line-height: 48px;
}

.c-tools-panel li {
    display: flex;
    align-items: center;
}

.c-tools-panel li img {
    margin-right: 50px;
}

.c-tools-panel li p {
    color: #fff;
}

.c-tools-panel button {
    margin-bottom: 120px;
}

.c-critical-questions-panel {
    background: #fff;
}

.c-critical-questions-panel .section-main-image {
    padding: 110px 0;
}

.c-critical-questions-panel ul {
    padding-bottom: 110px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.c-critical-questions-panel ul li {
    flex: 0 1 33.33%;
    display: flex;
    margin-bottom: 40px;
}
.c-critical-questions-panel ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.c-critical-questions-panel ul p {
    font-family: 'Quicksand-Bold';
    font-size: 32px;
    color: #979797;
    line-height: 45px;
    text-align: center;
    width: 90%;
}

.c-critical-questions-panel ul .image-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.c-critical-questions-panel ul .image-holder img {
    width: 290px;
}

.c-explore-panel {
    background: #A975D7;
}

.c-explore-panel .section-main-image {
    padding: 115px 0 80px 0;
}

.c-explore-panel h1 {
    margin: 0;
    width: 70%;
}

.c-explore-panel input[type='text'] {
    margin: 60px 0;
    border-radius: 7.2px;
    border: none;
    width: 72%;
    padding: 30px 50px;
    font-size: 24px;
    color: #FFFFFF;
    background: #7E4BAB;
}

.c-explore-panel button {
    font-family: 'Quicksand-Bold';
    margin-bottom: 110px;
    background: #7E4BAB;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 60.8px;
    color: #fff;
    font-size: 38px;
    letter-spacing: 2.7px;
    padding: 40px 50px;
    src: url('../assets/fonts/Quicksand-Bold.ttf') format('truetype');
}

* {
    font-family: 'Quicksand-Medium', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

input {
    width: 100%;
    border-radius: 7.2px;
    border: none;
    font-size: 32px;
}
